:root {
  --bg: white;
  --text: black;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --text: white;
  }
}



body {
  background-color: var(--bg);
  color: var(--text);
}





.parent {
  --gap: 2em;
  display: flex;
  gap: var(--gap);
  margin: 5em;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-inline: auto;
}

.parent>* {
  flex: 1 1 calc((100% - var(--gap)) / 2);
  min-width: 400px;
}


.flexing {
  display: flex;
  gap: var(--gap);
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flexing>* {
  flex: 1;
  min-width: 200px;
}



.description {
  line-height: 2.5;
}

.image img {
  max-width: 100%;
}